.flex-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;

    padding: 20px;
    background-color: #a67c52;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 44px;

    height: 300px;

    justify-self: center;
    align-self: center;
}

i {
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.flex-box i {
    cursor: pointer;
    color: rgb(190, 189, 189);
    padding: 10px;
    transition: color 0.3s;
}

.flex-box i.selected {
    color: white;
    font-weight: bold;
}