.app-container {
    background-color: #f5f1e9;
    height: 100%;
    user-select: none;
}

app-side-nav {
    height: 100%;
}

.flex-box {
    display: flex;
}

.flex-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.router-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 0;
}